

/* GLOBAL CSS */
body {
  display: flex;
  justify-content: center;
  margin: 0;
}

video {
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: -10;
  opacity: 0.8;
  max-width: 1500px;
}

.wireframe {
  width: 90%;
  height: 40%;
  border: 4px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  margin-top: 50px;
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Raleway", sans-serif;

  /*border: 2px solid red; */
}

/* HEADING SECTION */
.heading-section {
  /*border: 2px solid blue; */
  margin: 0px;
  padding-top: 3%;
}

.location-box {
  /*border: 2px solid green; */
  text-align: left;
  padding: 2% 0;
}

.city {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 0;
}

.search-box {
  text-align: end;
  padding: 5% 0;
}

.text,
.submit {
  border-radius: 4px;
}

.text {
  width: 60%;
}

.submit {
  border-radius: 2px;
  color: white;
  background-color: #77b1e3;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
  transition: all 150ms ease-in-out;
}

.submit:hover {
  background-color: black;
  color: #77b1e3;
}

.sub-search {
  display: inline;
  font-size: 16px;
  margin-left: 5%;
  font-style: italic;
  font-weight: 600;
  /*line-height: 6ch;*/
}

.active:hover {
  background-color: #77b1e3;
  color: white;
  height: 100%;
}

.lang-fahrenheit-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 10px;
  line-height: 10px;
  text-align: right;
  padding-right: 8px;
}

.date-time {
  font-size: 16px;
  margin-top: 0;
  font-weight: 400;
}

.your-time {
  font-weight: bold;
}

.kmh {
  line-height: 10px;
}

/* MIDDLE SECTION */

.middle-section {
  margin-bottom: 40px;
}

.temp-title-high,
.temp-title-low,
.wind-p,
.humidity-p {
  font-size: 20px;
  font-weight: 300;
}

.temp-title-high,
.temp-title-low {
  margin: 0;
  padding: 0;
}

.low-temp-box,
.high-temp-box {
  padding-top: 20px;
}

.temp,
#wind,
#humidity {
  font-size: 30px;
}

.low-temp-box,
.high-temp-box {
  width: 60%;
  text-align: left;
}

.wind-box,
.humidity-box {
  text-align: right;
  padding-top: 10px;
}

.wind-p,
.humidity-p {
  padding: 0;
  margin: 0;
}

.current-weather-box {
  text-align: center;
  min-height: 50px;
  min-width: 50px;
}

.current-weather {
  margin-top: -20px;
  height: 170px;
  text-align: left;
}

#description {
  margin-top: -5px;
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
}

/* END SECTION */

.weather-forecast-data {
  display: block;
  text-align: center;
  font-size: 15px;
  margin: 20px 0;
}

.weather-forecast-temperature-min,
.weather-forecast-temperature-max {
  margin: 0 2px;
}

.weather-forecast-temperature-max {
  font-weight: bolder;
}

.weather-forecast-image {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.new {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* ACTIVE CLASSES */

.inactive,
.inactive:hover {
  text-decoration: none;
  color: black;
  cursor: not-allowed;
}

/* FOOTER */
.git {
  position: fixed;
  bottom: 10px;
  left: 50px;
}
