/* TO-DO LIST 
- HEADING: 
    - Add text in search bar
    - Change Submit to Search
    - Move Change to F below
    - Move 15:00 to below
- MIDDLE:
     - Change Temperature to temp? 
- END:


/* GLOBAL CSS */
body {
  display: flex;
  justify-content: center;
  margin: 0;
}

video {
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: -10;
  opacity: 0.8;
  max-width: 1500px;
}

.wireframe {
  width: 90%;
  height: 40%;
  border: 4px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  margin-top: 50px;
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Raleway", sans-serif;

  /*border: 2px solid red; */
}

/* HEADING SECTION */
.heading-section {
  /*border: 2px solid blue; */
  margin: 0px;
  padding-top: 3%;
}

.location-box {
  /*border: 2px solid green; */
  text-align: left;
  padding: 2% 0;
}

.city {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 0;
}

.search-box {
  text-align: end;
  padding: 5% 0;
}

.text,
.submit {
  border-radius: 4px;
}

.text {
  width: 60%;
}

.submit {
  border-radius: 2px;
  color: white;
  background-color: #77b1e3;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
  transition: all 150ms ease-in-out;
}

.submit:hover {
  background-color: black;
  color: #77b1e3;
}

.sub-search {
  display: inline;
  font-size: 16px;
  margin-left: 5%;
  font-style: italic;
  font-weight: 600;
  /*line-height: 6ch;*/
}

.sub-search:hover {
  background-color: #77b1e3;
  color: white;
  height: 100%;
}

.lang-fahrenheit-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 10px;
  line-height: 10px;
  text-align: right;
  padding-right: 8px;
}

.date-time {
  font-size: 16px;
  margin-top: 0;
  font-weight: 400;
}

/* MIDDLE SECTION */

.temp-title-high,
.temp-title-low {
  font-size: 30px;
  font-weight: 300;
}

.low-temp-box,
.high-temp-box {
  padding: 4% 0;
}

.temp {
  font-size: 50px;
}

.low-temp-box {
  /*border: 2px solid salmon; */
  text-align: left;
}

.current-weather-box {
  text-align: center;
  min-height: 50px;
  min-width: 50px;
  padding-top: 45px;
}

.current-weather {
  height: 80px;
  text-align: left;
}

.high-temp-box {
  /*border: 2px solid saddlebrown; */
  text-align: right;
}

/* END SECTION */

.day {
  /*border: 2px solid aqua; */
  text-align: center;
  padding-bottom: 6%;
  padding-top: 4%;
}

.day-img {
  font-size: 50px;
}

.temp-range {
  padding-top: 15px;
  font-size: 15px;
}

/* FOOTER */
.git {
  position: fixed;
  bottom: 10px;
  left: 50px;
}
